<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SwayMini Resource Library</title>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.fileupload.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/base.css" >
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/index.css" >

    <style>
        body {
            font: 20px sans-serif;
        }
        .center-1 {
            margin:auto;
            width:30%;
            background-color:#c0c0c0;
        }
        .bar {
            height: 18px;
            background: green;
        }

    </style>
</head>

<body>

<div class="container">
    <div class="alert alert-warning" style="opacity: 0.8" align="center">
        <a href="../signin/">回到登录页面</a>
    </div>
    {% for record in pub_lst %}
        <div class="list-group">
            <a href="../show/{{ record.doc_id }}/" class="list-group-item" style="padding: 1px;">
                <div class="panel panel-success">
                    <div class="panel-heading"> 文档名称 </div>
                    <div class="panel-body">
                        {{ record.doc_name }}
                    </div>
                </div>
            </a>
            <a class="list-group-item" style="padding: 1px;">
                <div class="panel panel-info">
                    <div class="panel-heading"> 作者 </div>
                    <div class="panel-body">
                        {{ record.username }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

</body>
</html>