archive
node_modules
bin/
lib/
include/
pip-selfcheck.json
#*#
SwayMini/static/data/

*.sqlite3

SwayMini/.idea/*

.idea/deployment.xml

.idea/SwayMini.iml

.idea/workspace.xml

*.sqlite3

SwayMini/static/.editorconfig

SwayMini/static/.idea/misc.xml

SwayMini/static/.idea/modules.xml

SwayMini/static/.idea/SwayMini.iml

SwayMini/static/.idea/vcs.xml

SwayMini/static/.idea/workspace.xml

SwayMini/TestApp/templates/index.html
