<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>Welcome to SwayMini! {{ username }} !</p>
    <p> <a href="../signout/">Log out</a> </p>

    <p>
        <a href="../new_doc/">Create new doc!</a>
    </p>

    {% for record in doc_lst %}
        <ul>
            <li> Document Name: {{ record.doc_name }} </li>
            <li> <a href="../edit/{{ record.doc_id }}/">Edit this doc</a> </li>
            {% if record.isPublic %}
                <li> Status: Published </li>
            {% else %}
                <li> Status: Private </li>
            {% endif %}
            <li> Delete this doc</li>
        </ul>
        <br/><br/>
    {% endfor %}
</body>
</html>