<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../static/js/doc_op.js"></script>
    <script type="text/javascript" src="../../static/js/html2json.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/base.css" >
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/index.css" >

    <script>
    var box_clicked = null;

    function changeContent(box_id) {
        box_clicked = document.getElementById(box_id);
        document.getElementById("modal_content").value = box_clicked.innerHTML.trim().replace("<p>","").replace("</p>","");
        $("#myModal").modal({backdrop:true},{keyboard:true});
    }

    function writeContent() {
        var box_content = document.getElementById("modal_content").value;
        if (box_content==''||box_content==' '){}
        else {box_clicked.innerHTML = box_content;}
        box_clicked = null;
    }
    </script>
</head>
<body>
{% if isEditMode %}
    <nav class="navbar navbar-default" role="navigation">
        <div>
        <!--    <ul class="nav navbar-nav navbar-right"  style="margin-right: 0px">
                <li>
                    <a href="../search-form" onclick="document.showframe.location.href='../search-form'">Home</a>
                </li>
            </ul>  -->
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Doc Operations <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a onclick="docSave({{ doc_id }})"> SAVE </a></li>
                    <!-- TODO: use ajax to refresh published/unpublished status-->
                        {% if isPublic %}
                            <li><a onclick="docUnpublish({{ doc_id }})"> UNPUBLISH </a></li>
                        {% else %}
                            <li><a onclick="docPublish({{ doc_id }})"> PUBLISH </a></li>
                        {% endif %}
                        <li><a onclick="docRollback({{ doc_id }})"> ROLLBACK </a></li>
                        <li><a onclick="docDelete({{ doc_id }})"> DELETE </a></li>
                        <li><a onclick="backHome({{ doc_id }})"> HOME </a></li> <!-- auto save when exiting-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}

