<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SwayMini Doc</title>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.fileupload.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/base.css" >
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/index.css" >
    <script type="text/javascript" src="../../static/js/layout_op.js"></script>
    <script type="text/javascript" src="../../static/js/doc_op.js"></script>

    <style>
        .center-1 {
            margin:auto;
            width:30%;
            background-color:#c0c0c0;
        }

        .bar {
            height: 18px;
            background: green;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%; <!--16:9-->
            padding-top: 1px;
            height: 0;
            overflow: hidden;
        }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .audio-container {
            position: relative;
            padding-bottom: 10%; <!--16:9-->
            padding-top: 3px;
            height: 0;
            overflow: hidden;
        }

        .audio-container audio {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
{% if isEditMode %}
    <nav class="navbar navbar-default" role="navigation">
        <div>
            <ul class="nav navbar-nav navbar-right"  style="margin-right: 0px">
                <li>
                    <a href="/show/{{ doc_id }}/">Preview</a>
                </li>
                <li>
                    <!-- auto save when exiting-->
                    <a href="#" id="userName"
                       onclick="backHome({{ doc_id }})">{{ username }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Doc Operations <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a onclick="docSave({{ doc_id }})"> SAVE </a></li>
                        <!-- TODO: use ajax to refresh published/unpublished status-->
                        {% if isPublic %}
                            <li><a onclick="docUnpublish({{ doc_id }})"> UNPUBLISH </a></li>
                        {% else %}
                            <li><a onclick="docPublish({{ doc_id }})"> PUBLISH </a></li>
                        {% endif %}
                        <li><a onclick="docRollback({{ doc_id }})"> ROLLBACK </a></li>
                        <li><a onclick="docDelete({{ doc_id }})"> DELETE </a></li>
                    </ul>
                </li>
                <!-- TODO: Multi Level Toggle Dropdown Menu-->
                <li class="dropdown"> <!-- Second Top Level Toggle: Layout-->
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Del Row <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="delRowMenu">

                    </ul>
                </li>
                <li> <!-- Third Top Level Toggle (button): Upload -->
                    <a href="#uploadModal" data-toggle="modal" role="button" class="btn">Upload File</a>
                </li>
                <li> <!-- Fourth Top Level Toggle (button): Mute -->
                    <a href="#" role="button" class="btn" onclick="toggleMute()">Mute Changes</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 提示输入行内列宽比的模态框（Modal） -->
    <div style="display: none;" class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-labelledby="addRowModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="addRowModalLabel">
                        输入该行列宽比
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="col_ratio">每一项是整数，以冒号隔开，和为12</label>
                            <input class="form-control" id="col_ratio" placeholder="3:4:5" type="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addRow()">
                        Okay
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 提示选择插入的内容类型的Modal -->
    <div id="insModal" style="display: none;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="insModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h4 class="modal-title">请选择需要插入的内容格式</h4>
        </div>
        <div class="modal-body center-1">
            <ul class="nav nav-pills nav-stacked">
                <li id="colType0"><a href="#" onclick="insContentBranch(0)">文本</a></li>
                <li id="colType1"><a href="#" onclick="insContentBranch(1)">图片</a></li>
                <li id="colType2"><a href="#" onclick="insContentBranch(2)">音乐</a></li>
                <li id="colType3"><a href="#" onclick="insContentBranch(3)">视频</a></li>
                <!-- TODO: Carousol 轮播 -->
            </ul>
        </div>
    </div> <!-- insModal -->

    <!-- modal for text insertion -->
    <div style="display: none;" class="modal fade" id="insTextModal" tabindex="-1" role="dialog" aria-labelledby="insTextModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                    <h4 class="modal-title" id="addRowModalLabel"> 请输入文字内容 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="chText">不要超过1024字符</label>
                            <textarea class="form-control" id="chText" rows="10" type="text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chText()">
                        Okay
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.insTextModal -->

    <!-- modal for image insertion -->
    <div style="display: none;" class="modal fade" id="insImgModal" tabindex="-1" role="dialog" aria-labelledby="insImgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                    <h4 class="modal-title"> 插入图片 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="imgSrc">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="imgSrcExtern"> Extern
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="imgSrcLocal"> Local
                                </label>
                            </div>
                            <br/><br/>
                            <input class="form-control" id="imgLink" type="text" placeholder="image src...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chImage()">Okay</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.insImgModal -->

    <!-- modal for audio insertion -->
    <div style="display: none;" class="modal fade" id="insAudioModal" tabindex="-1" role="dialog" aria-labelledby="insAudioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                    <h4 class="modal-title"> 插入音频 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="audioSrc">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="audioSrcExtern"> Extern
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="audioSrcLocal"> Local
                                </label>
                            </div>
                            <br/><br/>
                            <input class="form-control" id="audioLink" type="text" placeholder="audio src...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chAudio()">Okay</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.insAudioModal -->

    <!-- modal for video insertion -->
    <div style="display: none;" class="modal fade" id="insVideoModal" tabindex="-1" role="dialog" aria-labelledby="insVideoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                    <h4 class="modal-title"> 插入视频 </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="videoSrc">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="videoSrcExtern"> Extern
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="videoSrcLocal"> Local
                                </label>
                            </div>
                            <br/><br/>
                            <input class="form-control" id="videoLink" type="text" placeholder="video src...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="chVideo()">Okay</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.insVideoModal -->

    <!-- modal for file uploading -->
    <div style="display: none;" class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                    <h4 class="modal-title"> 上传文件到你的个人媒体资源库 </h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype="multipart/form-data" method="post" action="/upload_file/">
                        <label for="fileupload">上传后文件名与本地一致；只能上传xxx格式文件</label>
                        <input id="fileupload" type="file" name="files[]" date-url="/upload_file/" multiple>
                    </form>
                    <br/>
                    <div id="progress">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <br/>
                    <div id="uploadAlert">
                        <!-- empty for js modify -->
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.insTextModal -->

{% endif %}

<br/>